/.idea
/secrets/*
!/secrets/keystore-1
!/secrets/keystore-1.json
/secrets/keystore-1/*
!/secrets/keystore-1/.gitkeep
!/secrets/keystore-2
!/secrets/keystore-2.json
/secrets/keystore-2/*
!/secrets/keystore-2/.gitkeep
!/secrets/tls
/secrets/tls/*
!/secrets/tls/.gitkeep
/var/*
!/var/beacon
/var/beacon/*
!/var/beacon/.gitkeep
!/var/grafana/
/var/grafana/*
!/var/grafana/.gitkeep
!/var/validator-1
/var/validator-1/*
!/var/validator-1/.gitkeep
!/var/validator-2
/var/validator-2/*
!/var/validator-2/.gitkeep
